/1.docx
/ass10.txt
/ass11.txt
/ass12.txt
/assi6.txt
/assi7.docx
/assign11.docx
/Assign12.docx
/Assign13.docx
/assign2.docx
/assign2.pdf
/Assign4.docx
/Assign4.pdf
/assign5.txt
/assign6.docx
/assign7.txt
/assignment1.txt
/Assignment10.pdf
/Assignment11.pdf
/Assignment12.pdf
/Assignment13.pdf
/assignment2.txt
/assignment3.pdf
/assignment4.txt
/Assignment5.pdf
/assignment6.pdf
/assignment7.pdf
/assignment8.pdf
/assignment9.pdf
/assin3.docx
/assin8.docx
/assinment.docx
/assn10.docx
/assn12.txt
/assn8.txt
/class notes
/Constructor.docx
/css code practice.txt
/csspractice.css
/CTFL 2018 Sample Questions Exam B v1.1 Questions.pdf
/CTFL-2018-Exam-Structure-and-Rules.pdf
/CTFL-2018-Release-Notes 1 Learning Objectives.pdf
/interview programs.docx
/interview programs.pdf
/ISTQB EXAM
/istqb exam details.pdf
/Istqb-Syllabus-2018-GA.pdf
/LinkedIn notes
/My Details.txt
/My details1.txt
/My details2.txt
/My photo.jpg
/pancard.jpeg
/pancard.pdf
/Security code.PNG
/Shubham image.jpg